---
import type { WebSite, WithContext } from 'schema-dts'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

import Layout from '../layouts/layout.astro'
import Link from '../components/link.astro'
import ProjectThumbnailList from '../components/project-thumbnail-list.astro'
import siteMetadata from '../helpers/site-metadata'

import styles from '../styles/home-page.module.scss'
import meSvg from '../assets/me.svg'

const site = Astro.site?.toString()

const title = 'Guillem Andreu - Web Developer and Designer'
const description =
	'Hi. I’m Guillem, a web developer and designer based in Berlin. This is my Website.'

const jsonLd: WithContext<WebSite> = {
	'@context': 'https://schema.org',
	'@type': 'WebSite',
	name: title,
	alternateName: 'Guillem Andreu’s Website.',
	description,
	url: site,
	inLanguage: {
		'@type': 'Language',
		name: 'English',
		alternateName: 'en',
	},
	author: {
		'@type': 'Person',
		name: siteMetadata.author.name,
		url: site,
		sameAs: [
			`https://bsky.app/profile/${siteMetadata.author.social.bluesky}`,
			`https://github.com/${siteMetadata.author.social.github}`,
			`https://www.linkedin.com/in/${siteMetadata.author.social.linkedin}/`,
		],
	},
	locationCreated: {
		'@type': 'City',
		name: 'Berlin',
	},
}

const allProjects = await getCollection('project')
const featuredProjects = allProjects
	.filter((project) => project.data.featured === true)
	.sort(
		(a, b) =>
			b.data.date.year - a.data.date.year ||
			b.data.date.month - a.data.date.month,
	)
	.map((project) => ({
		id: project.id,
		thumbnail: project.data.thumbnail,
		title: project.data.title,
	}))
---

<Layout meta={{ title, description }}>
	<script
		is:inline
		slot="head-meta"
		type="application/ld+json"
		set:html={JSON.stringify(jsonLd)}
	/>
	<section class={styles['home-about']}>
		<p class={styles['home-about-text']}>
			<strong>Hi. I’m Guillem,</strong> a web developer and designer based in Berlin.
			<br />
			<Link href="/about/">More about me</Link>
		</p>
		<div class={styles['home-about-image']}>
			<Image alt="A drawn silouethe of myself" loading="eager" src={meSvg} />
		</div>
	</section>
	<section class={styles['home-work']}>
		<p>
			Here are some of the <Link href="/work/">things I make</Link>:
		</p>
		<ProjectThumbnailList items={featuredProjects} />
	</section>
</Layout>
