---
import Link from './link.astro'

import styles from '../styles/components/experience-list.module.scss'

interface Props {
	items: {
		city?: string
		date: string
		description?: string
		techStack?: string[]
		title: string
		titleUnion?: string
		url?: string
		where?: string
	}[]
}

const { items } = Astro.props
---

<ul class={styles['experience-list']}>
	{
		items.map((item) => (
			<li class={styles['experience-item']}>
				<strong class={styles['experience-item-title']}>
					<em>{item.title}</em>
					{item.titleUnion === undefined ? ' at ' : ` ${item.titleUnion} `}
					{item.where && (
						<em>
							{item.url ? (
								<Link href={item.url}>{item.where}</Link>
							) : (
								item.where
							)}
						</em>
					)}
				</strong>
				<br />
				<small class={styles['experience-item-date']}>
					{item.city ? `${item.date}. ${item.city}` : item.date}.
				</small>
				{item.description && (
					<div
						class={styles['experience-item-description']}
						set:html={item.description}
					/>
				)}
				{item.techStack && (
					<small class={styles['experience-item-stack']}>
						<span>Tech stack:</span> {item.techStack.join(', ')}.
					</small>
				)}
			</li>
		))
	}
</ul>
