---
interface Props {
	title?: string
	meta?: {
		title?: string
		description?: string
		type?: string
		image?: {
			alt: string
			src: string
			height: number
			width: number
		}
	}
}

const { title, meta } = Astro.props
const metaTitle = meta?.title ? meta.title : `${title} - Guillem Andreu`
const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
---

<>
	<title>{metaTitle}</title>
	<meta property="og:title" content={metaTitle} />
	{
		meta?.description && (
			<>
				<meta name="description" content={meta.description} />
				<meta property="og:description" content={meta.description} />
			</>
		)
	}
	<link rel="canonical" href={canonicalUrl} />
	<meta property="og:url" content={canonicalUrl} />
	<meta property="og:type" content={meta?.type ?? 'website'} />
	{
		meta?.image?.src && (
			<>
				<meta
					property="og:image"
					content={new URL(meta.image.src, Astro.url)}
				/>
				<meta property="og:image:alt" content={meta.image.alt} />
				<meta
					property="og:image:height"
					content={meta.image.height.toString()}
				/>
				<meta property="og:image:width" content={meta.image.width.toString()} />
			</>
		)
	}
</>
