---
import type { ProjectThumbnail } from '../helpers/types.ts'

import styles from './project-thumbnail-list.module.scss'

import { Picture } from 'astro:assets'

import Link from './link.astro'

interface Props {
	items: ProjectThumbnail[]
}

const { items } = Astro.props
---

<ul class={styles.list}>
	{
		items.map((project) => (
			<li>
				<article>
					<Link href={`/work/${project.path}/`}>
						<Picture
							alt={project.thumbnail.alt}
							formats={['avif', 'webp']}
							sizes={[
								'(min-width: 744px) calc((100vw - 4rem) / 3)',
								'calc(100vw - 4rem)',
							].join()}
							src={`https://assets.guillemandreu.com${project.thumbnail.src}`}
							height={500}
							width={900}
							widths={[250, 340, 450, 500, 680, project.thumbnail.width]}
						/>
						<span>{project.title}</span>
					</Link>
				</article>
			</li>
		))
	}
</ul>
