---
import Link from './link.astro'
import SocialIcon from './social-icon.astro'
import siteMetadata from '../helpers/site-metadata.ts'

const year = new Date().getFullYear()
---

<footer class="footer">
	<span>
		<span class="copyright-notice">
			<strong>© 2009&ndash;{year} Guillem Andreu Muñoz.</strong>
			All rights reserved.
		</span>
		<span class="footer-links">
			<Link href="/privacy-policy/">Privacy policy.</Link>
			<Link href="/colophon/">Colophon.</Link>
			<Link href="/ai/">AI (non)usage.</Link>
		</span>
		<br />
		<small class="ai-notice">
			No part of this website may be used or reproduced in any manner for the
			purpose of training artificial intelligence technologies or systems. The
			author expressly reserves this work from the text and data mining
			exception.
		</small>
	</span>
	<span class="social-links">
		<Link
			ariaLabel="Bluesky profile (opens in a new tab)"
			href={`https://bsky.app/profile/${siteMetadata.author.social.bluesky}`}
			rel="me"
			title="Bluesky profile"><SocialIcon platform="bluesky" /></Link
		><Link
			ariaLabel="GitHub profile (opens in a new tab)"
			href={`https://github.com/${siteMetadata.author.social.github}`}
			rel="me"
			title="GitHub profile"><SocialIcon platform="github" /></Link
		><Link
			ariaLabel="Last.fm profile (opens in a new tab)"
			href={`https://www.last.fm/user/${siteMetadata.author.social.lastfm}`}
			rel="me"
			title="Last.fm profile"><SocialIcon platform="lastfm" /></Link
		><Link
			ariaLabel="LinkedIn profile (opens in a new tab)"
			href={`https://www.linkedin.com/in/${siteMetadata.author.social.linkedin}/`}
			rel="me"
			title="LinkedIn profile"><SocialIcon platform="linkedin" /></Link
		>
	</span>
</footer>

<style lang="scss">
	@layer layout {
		.footer {
			color: var(--color-primary-dark);
			display: flex;
			flex-direction: column;
			font-size: 0.9rem;
			line-height: 1rem;
			text-wrap: pretty;

			a {
				font-weight: 600;
			}
		}

		.ai-notice {
			font-size: 0.7rem;
		}

		.copyright-notice {
			color: var(--color-primary);
		}

		@media (prefers-contrast: more) {
			.copyright-notice {
				color: var(--color-primary-dark);
			}
		}

		.social-links {
			--color-anchor: var(--color-primary);
			margin-block-start: var(--margin-extrasmall);

			a {
				&::after {
					display: none;
				}

				& + a {
					margin-inline-start: var(--spacing);
				}
			}

			svg {
				height: 1rem;
				transition: fill var(--transition-duration) var(--cubic-bezier-ease-out);
				width: 1rem;
			}
		}

		@media (width >= 52em) {
			.footer {
				flex-direction: row;
				justify-content: space-between;
			}

			.social-links {
				margin-block: auto;
				margin-inline-start: auto;
				min-width: 8rem;
				text-align: end;
			}
		}

		@media print {
			.ai-notice,
			.footer-links,
			.social-links {
				display: none !important;
			}
		}
	}
</style>
