---
import { getCollection } from 'astro:content'

import Layout from '../../layouts/layout.astro'
import ProjectThumbnailList from '../../components/project-thumbnail-list.astro'

import styles from '../../styles/work-page.module.scss'

const title = 'My work'
const meta = {
	description:
		'Here is a list of some of the projects I have done or I’m currently working on.',
}

const allProjects = await getCollection('project')
const projects = allProjects
	.sort(
		(a, b) =>
			b.data.date.year - a.data.date.year ||
			b.data.date.month - a.data.date.month,
	)
	.map((project) => ({
		id: project.id,
		thumbnail: project.data.thumbnail,
		title: project.data.title,
	}))
---

<Layout title={title} meta={meta}>
	<article class={styles.work}>
		<h1>{title}.</h1>
		<ProjectThumbnailList items={projects} />
	</article>
</Layout>
