---
import type { PageMetadata } from '../components/page-meta.astro'
import BaseLayout from './layout.astro'

import styles from '../styles/layouts/basic-page.module.scss'

interface Props {
	children: any
	frontmatter: {
		title?: string
		meta?: PageMetadata
		lastUpdated?: Date
	}
}

const {
	frontmatter: { title, meta, lastUpdated },
} = Astro.props

const lastUpdatedDate = new Date(lastUpdated ?? '')
---

<BaseLayout title={title} meta={meta}>
	<article class={styles.page}>
		<h1>{title}<span class="period">.</span></h1>
		<slot />
		{
			lastUpdated && (
				<p>
					<em>
						Last updated on{' '}
						<time datetime={lastUpdatedDate.toISOString()}>
							{lastUpdatedDate.toLocaleDateString('en', { dateStyle: 'long' })}.
						</time>
					</em>
				</p>
			)
		}
	</article>
</BaseLayout>
