---
import '../styles/globals.scss'

import {
	UMAMI_ANALYTICS_HOST,
	UMAMI_ANALYTICS_ID,
	UMAMI_ANALYTICS_SCRIPT,
} from 'astro:env/client'

import type { HTMLAttributes } from 'astro/types'
import PageMeta, { type PageMetadata } from '../components/page-meta.astro'
import SiteHeader from '../components/site-header.astro'
import SiteFooter from '../components/site-footer.astro'
import SocialIconSprite from '../assets/social-icon-sprite.svg'
import siteMetadata from '../helpers/site-metadata.ts'

import iconSvg from '../assets/icon.svg'

interface Props {
	children: any
	title: string
	meta?: PageMetadata
	lang?: HTMLAttributes<'html'>['lang']
}

const { title, meta, lang = 'en' } = Astro.props
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,viewport-fit=cover"
		/>
		<PageMeta title={title} meta={meta} />
		<meta property="og:site_name" content="Guillem Andreu" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href={iconSvg.src} sizes="any" />
		<meta name="author" content={siteMetadata.author.name} />
		<link rel="author" href={new URL('/humans.txt', Astro.site)} />
		<link rel="sitemap" href={new URL('/sitemap-index.xml', Astro.site)} />
		<meta name="pinterest" content="nopin" />
		<meta name="generator" content={Astro.generator} />
		<link rel="expect" href="#main" blocking="render" />
		<slot name="head-meta" />
		{
			UMAMI_ANALYTICS_HOST && UMAMI_ANALYTICS_ID && UMAMI_ANALYTICS_SCRIPT && (
				<script
					is:inline
					defer
					data-domains={Astro.url.host}
					data-host-url={UMAMI_ANALYTICS_HOST}
					data-website-id={UMAMI_ANALYTICS_ID}
					src={UMAMI_ANALYTICS_SCRIPT}
				/>
			)
		}
	</head>
	<body>
		<SiteHeader />
		<main id="main" class="main">
			<slot>Hello world!</slot>
		</main>
		<SiteFooter />
		<SocialIconSprite />
	</body>
</html>

<style lang="scss">
	@layer layout {
		.main {
			display: grid;
			gap: var(--layout-gap);
			grid-template-columns: repeat(13, 1fr);
			grid-template-rows: auto;
			margin-block: var(--margin-extrasmall) var(--margin-small);
			margin-inline: 0;
		}

		@media (prefers-reduced-motion: no-preference) {
			.main {
				view-transition-name: main;
			}

			::view-transition-old(main) {
				animation-name: fade-out;
			}

			::view-transition-new(main) {
				animation-name: fade-in;
			}
		}
	}
</style>
